:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90%;

  .messages {
    overflow: scroll;
    margin: 16px;
    flex: 1 1 auto;
  }

  .send-message {
    padding: 16px;
    background-color: rgb(255, 174, 0);
  }
}
